<div *ngIf="!!errorMsg" class="alert alert-danger alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>{{errorMsg}}!</strong>
</div>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="card mt-5">
            <div class="card-body">
              <h5 class="card-title">Login</h5>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" placeholder="Email Address" formControlName="email">
                <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)"
                  class="error-msg text-left">
                  <div *ngIf="loginForm.controls['email'].errors.required">
                    Required Field.
                  </div>
                  <div *ngIf="loginForm.controls['email'].errors.email">
                    email is invalid.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="email">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
                <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)"
                  class="error-msg text-left">
                  <div *ngIf="loginForm.controls['password'].errors.required">
                    Required Field.
                  </div>
                  <div *ngIf="loginForm.controls['password'].hasError('minlength') && loginForm.controls['password'].touched">
                    password should be more then 6 character.
                  </div>
                </div>
              </div>
              <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Login</button>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>