<app-header></app-header>
<div class="container">
  <div class="row mt-3">
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">SNO</th>
            <th scope="col">Price</th>
            <th scope="col">Amount</th>
            <th scope="col">Buy</th>
            <th scope="col">Timestamp</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="trades.length>0">
          <tr *ngFor="let trade of this.trades; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{trade.price}}</td>
            <td>{{trade.amount}}</td>
            <td>{{trade.buy}}</td>
            <td>{{trade.timestamp | date}}</td>
          </tr>
        </ng-container>
        <ng-container *ngIf="trades.length == 0">
          <tr>
            <td colspan="5">Record not found</td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
</div>
</div>
